USE [master]
GO
/****** Object:  Database [Chat]    Script Date: 19-Jan-21 10:52:23 PM ******/
CREATE DATABASE [Chat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chat', FILENAME = N'E:\Database\Chat\Chat.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Chat_log', FILENAME = N'E:\Database\Chat\Chat_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chat]
GO
/****** Object:  Table [dbo].[tblLogedinStatus]    Script Date: 19-Jan-21 10:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLogedinStatus](
	[LoginStatusId] [bigint] NOT NULL,
	[IpAddress] [varchar](50) NULL,
	[IsLoged] [bit] NOT NULL CONSTRAINT [DF_LogedinStatus_IsLoged]  DEFAULT ((1)),
	[UserId] [bigint] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [varchar](15) NOT NULL,
	[LogOutDate] [date] NULL,
	[LogOutTime] [varchar](15) NULL,
 CONSTRAINT [PK_LogedinStatus] PRIMARY KEY CLUSTERED 
(
	[LoginStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMessage]    Script Date: 19-Jan-21 10:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMessage](
	[ChatId] [bigint] NOT NULL,
	[SenderId] [bigint] NOT NULL,
	[ReceiverId] [bigint] NOT NULL,
	[Message] [varchar](max) NOT NULL,
	[IsEdit] [bit] NOT NULL CONSTRAINT [DF_tblMessage_IsEdit]  DEFAULT ((0)),
	[Date] [date] NOT NULL CONSTRAINT [DF_tblMessage_Date]  DEFAULT (getdate()),
	[Time] [varchar](15) NOT NULL,
	[LoginStatusId] [bigint] NULL,
	[IsDeleteFromReceiver] [bit] NOT NULL CONSTRAINT [DF_tblMessage_IsDeleteFromReceiver]  DEFAULT ((0)),
	[IsDeleteFromSender] [bit] NOT NULL CONSTRAINT [DF_tblMessage_IsDeleteFromSender]  DEFAULT ((0)),
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[ChatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 19-Jan-21 10:52:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [bigint] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL CONSTRAINT [DF_tblUser_CreateDate]  DEFAULT (getdate()),
	[ModifyDate] [date] NULL CONSTRAINT [DF_tblUser_ModifyDate]  DEFAULT (getdate()),
	[IpAddress] [varchar](50) NULL,
	[IsVerified] [bit] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [u_email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
