<nav id="navigation" class="shadow bg-light rounded">
  <a href="javascript:void(0)" class="logo">Bangladesh Software Ltd.</a>
  <ul class="links">
    <!-- <li><a href="#">About</a></li> -->
    <!-- <li class="dropdown"><a href="#" class="trigger-drop">Work<em class="arrow"></em></a>
      <ul class="drop">
        <li><a href="#">Art</a></li>
        <li><a href="#">Photography</a></li>
        <li><a href="#">Audio</a></li>
        <li><a href="#">Films</a></li>
      </ul>
    </li> -->
    <li class="dropdown">
      <a href="javascript:void(0)" class="trigger-drop">hi! {{firstName + " " + lastName}}</a>
      <ul class="drop">
        <li><button class="btn mce-btn-small danger" (click)="logout()">Log Out</button></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="trigger-drop">
        <em class="fa fa-bell"></em><em class="fa fa-circle red-circle" *ngIf="signalRService.receiverIds.length > 0"></em>
      </a>
      <ul class="drop">
        <li style="margin-left: -130px;" *ngFor="let opt of getNameFromId(signalRService.receiverIds)" [value]="opt.id" (click)="onSelectUser(opt.id)">
          <a href="javascript:void(0)"> {{opt.name}}  </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<!-- <nav class="">
  <ul>
  
    <li class="dropdown">
     
      <div class="dropdown-content">
       
      </div>
    </li>
    <li class="dropdown">
     
      <div class="dropdown-content">
        
      </div>
    </li>
      <li class="dropdown">
      
        <div class="dropdown-content">
          
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
    </li>
  </ul>
  
</nav> -->
<div class="wrapper py-1 px-0 clearfix">
  <div class="people-list shadow custom-scroll" id="people-list">
    <ul class="list">
      <li class="clearfix" *ngFor="let opt of users" [value]="opt.userId" (click)="onSelectUser(opt.userId)" [class.selected]="opt.userId == receiverId">
        <img src="../../../assets/images/user.png" alt="avatar" class="avatar"/>
        <div class="about">
          <div class="name">{{opt.firstName + " " + opt.lastName}}</div>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="chat shadow">
    <div #scrollMe class="chat-history custom-scroll">
      <ul>
        <li *ngIf="signalRService.messages.length==0">You haven't send or received messages yet</li>
        <section #elem *ngFor="let m of signalRService.messages"  #ChatId_{{ChatId}} [style.display]=
        "((m.ReceiverId == receiverId || m.SenderId == receiverId) && m.IsDeleteFromSender == false && m.IsDeleteFromReceiver == false) 
        || ((m.IsDeleteFromReceiver == false && m.IsDeleteFromSender == true) && m.SenderId == receiverId || m.ReceiverId == receiverId) 
        && ((m.IsDeleteFromReceiver == true && m.IsDeleteFromSender == false) && m.SenderId == senderId || m.ReceiverId == senderId) 
        ? 'block' : 'none'">
            <li class="clearfix" *ngIf="m.SenderId !== senderId">
              <div class="message-data align-right">
                <span class="message-data-time" > {{ m.Time }} {{ m.DateTime | date: 'mediumDate' }}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{ receiverName }} </span> <em class="fa fa-circle me"></em>
                
              </div>
              <div class="message other-message float-right">
                {{m.Text}}
                <span class="delete-msg popup delete-right" (click)="popup4remove(m.ChatId)">
                  <em class="fa fa-trash-alt"> </em>
                  <span class="popuptext" [class.show]="showpopup[m.ChatId]" >
                      <span (click)="deleteOneSide(m.ChatId, m.SenderId)">Remove Only From Me</span>
                      <br>
                      <span *ngIf="m.SenderId === senderId" (click)="deleteMessage(m.ChatId)">Remove From Both Side</span>
                  </span>  
                </span>
              </div>
            </li>
            
            <li *ngIf="m.SenderId == senderId">
              <div class="message-data">
                <span class="message-data-name"><em class="fa fa-circle online"></em> I</span>
                <span class="message-data-time"> {{ m.Time }} {{ m.DateTime | date: 'mediumDate' }}</span>
              </div>
              <div class="message my-message">
                {{m.Text}}
                <span class="delete-msg popup" (click)="popup4remove(m.ChatId)">
                  <em class="fa fa-trash-alt"> </em>
                  <span class="popuptext" [class.show]="showpopup[m.ChatId]" >
                      <span (click)="deleteOneSide(m.ChatId)">Remove Only From Me</span>
                      <br>
                      <span *ngIf="m.SenderId === senderId" (click)="deleteMessage(m.ChatId)">Remove From Both Side</span>
                  </span>  
                </span>
              </div>
            </li>
        </section>
      </ul>
      
    </div> <!-- end chat-history -->
    <div style="clear: both;"></div>
    <div class="chat-message clearfix" >
      <input (focus)="onFocusEvent($event)" class="text" type="text" lass="mt-3 mb-3 mr-3" [(ngModel)]="text" #chatText style="width: 85%;" placeholder="Type your message" (keyup)="onEnter($event)"/>
      <button  [disabled]="text.length==0" (click)="sendMessage()">Send</button>

    </div> <!-- end chat-message -->
    
  </div> <!-- end chat -->
  
</div> 
  